:root{
    --main-drop-shadow: 0px 0px 14px 5px rgba(0,0,0,0.5);
    
    /* account cropper */
    --profile-pic-pos: 0px;
	--image-rel-crop-height: 1;
	--image-rel-crop-width: 1;
	--profile-pic-scale: 1;
}
.account-top-content{
    display: flex;
    flex-direction: column;
    gap:5vmin;
    align-items: center;
}
.banner-image-container{
	width: 100%;
	min-height: 35vh;
	max-height: 50vh;
	overflow: hidden;
	position: absolute;
	cursor: pointer;
	isolation: isolate;
}
.banner-image-container:hover::after{
	font-size: 2em;
	content: '';
	position: absolute;
	inset: 0;
	background-color: rgba(32, 30, 30, 0.247);
}
#banner-edit-icon{
	display: none;
}
.banner-image-container:hover #banner-edit-icon{
	display: block;
	color: var(--main-text);
	padding: 1vmin;
	background-color: var(--main-bg);
	aspect-ratio: 1/1;
	border-radius: 50vw;
	font-size: 1.3em;
	width: fit-content;
	margin: 5vmin 3vmin;
	cursor: pointer;
}
.account-banner-image{
	position: absolute;
    width: 100%;
	height: 100%;
    left: 0;
    z-index: -1;
    object-fit: cover;
    object-position: center;
}
#banner-image-input{
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	z-index: 999;
}
.toggle-page-container {
	background-color: var(--main-bg);
    color: var(--secondary-brown);
	width: 20rem;
	height: 6rem;
	border-radius: 50vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	isolation: isolate;
    box-shadow: var(--main-drop-shadow);
    margin-top: 10vmin;
}
.toggle-page-container h2 {
	pointer-events: none;
}

.selected-page-background {
	position: absolute;
	height: 100%;
	width: 50%;
	background-color: var(--main-blue);
	border-radius: 50vw;
	left: 0;
	z-index: -1;
	transition: left 0.3s ease;
}

.selected-page-background[data-chats] {
	left: 50%;
}

.profile-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.account-main-aside-container{
    display: flex;
    min-height: 100vh;
    width: 100%;
}
.settings-tree-container{
    display: none;
}

/* account cropper styles */
/* account cropper */
.account-icon {
	--account-icon-width: 15rem;
	height: var(--account-icon-width);
	width: var(--account-icon-width);
	overflow: hidden;
	position: relative;
	border-radius: 50vw;
	display: grid;
	place-items: center;
	cursor: pointer;
}

.account-icon img {
    background-color: var(--secondary-bg);
    max-width: none !important;
	position: absolute;
	height: calc(var(--account-icon-height) * var(--image-rel-crop-height));
	width: calc((var(--account-icon-width) * var(--image-rel-crop-width)));
	scale: var(--profile-pic-scale);
	cursor: pointer;
}
#account-icon-input {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
	cursor: pointer;
}
.profile-pic-support-text {
	margin-right: auto;
	display: flex;
	gap: 2vmin;
	align-items: center;
	
}
#edit-crop-settings{
	text-decoration: underline;

	font-size: 1.2em;
	color:var(--main-text);
	cursor: pointer;
	transition: all 0.3s var(--main-transition-timing);
}
#edit-crop-settings:hover {
	color: var(--secondary-text);
	transform: translateY(-3px);
}
.pos {
	font-size: 2rem;
	color: white;
	position: absolute;
	z-index: 999999999999;
	pointer-events: none;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	place-items: center;
	width: 100%;
	height: 100vh;
	z-index: 999;
	isolation: isolate;
}

#modal-image {
	height: 75vh !important;
	object-fit: unset;
	aspect-ratio: unset;
	border-radius: 0;
	isolation: isolate;
	position: absolute;
}

.account-icon-crop-range {
	width: 20vw;
	aspect-ratio: 1/1;
	border-radius: 50vw;
	background-color: transparent;
	position: absolute;

	box-shadow: 0px 0px 0px 50vw rgba(0, 0, 0, 0.9);
}

.close-modal-button {
	position: absolute;
	z-index: 999;
	bottom: 10vmin;
	padding: 2vmin;
	font-size: 1.5em;
	background: var(--main-blue);
	color: #001828;
	border: none;
}


#profile-pic-scale {
	position: absolute;
	top: 10vh;
	z-index: 9999;
	width: 3rem;
}

@media screen and (min-width:1000px){
    .main-content{
        flex: 1;
    }
    .settings-tree-container{
        display: flex;
        flex-direction: column;
        border-right: 3px solid var(--accent-grey-opacity);
        width: 20vw;
    }
    .profile-info-container{
        flex-direction: row;
    }
    .profile-info-container h1{
        font-size: 3rem;
        margin-top: 5vmin;
    }
	.banner-image-container:hover #banner-edit-icon{ 
		margin: 2vmin;
	}
}